.cardWraper {
  display: flex;
  flex-flow: column;
  width: 80%;
  padding: 10px;
  border: 1px solid black;
}
.card {
  display: flex;
  padding: 20px;
}
.imgWraper {
  width: 50%;
  overflow: hidden;
}
.movieInfo {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column;
  padding: 0 1rem;
}
.movieInfo h3 {
  text-transform: uppercase;
  text-align: center;
  margin: 2rem auto;
}
.movieInfo p {
  line-height: 2em;
}
.additional {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px auto;
}
.additional a {
  padding: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 2px solid;
}
.additional li:not(:last-child) {
  margin-right: 20px;
}
.additional a:hover,
.additional a:focus {
  border-color: coral;
  color: coral;
  transition: all 0.5s ease-out;
}
